.wrapper {
  display: flex;
  flex-direction: column;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding: 10px 0;
  overflow: auto;
  gap: 20px;
}

.infoWrapper {

}
.images {
  width: 200px;
}